@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette, tertiary: mat.$blue-palette), typography: Roboto, density: 0));
  color-scheme: light;
  font-family: Roboto, Arial, sans-serif;
  background: #f6f7fb;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  color: #11213f;
}

a {
  color: #1459d9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
